<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') -%>
</head>
<body>
    <main>
        <h1>Formulario nuevo producto</h1>
        <form action="/productos" method="post">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" required />
            <label for="precio">Precio:</label>
            <input type="number" name="precio" required/>
            <label for="thumbnail">Imagen:</label>
            <input type="text" name="thumbnail" required/>
        <a href="http://localhost:8080/productos"><button>Agregar producto</button></a>

    </main>
</body>
</html>